@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #34495e;
}

/* Início NavBar */
header {
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #000000;
    border-radius: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    border-radius: 50px;
}

.logo img {
    width: 100%;
    margin-left: 200%;
    transform: translate(-2rem, 0rem);
}

/*Fim nav-bar*/

.menu {
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #000000;
    padding: 1.5rem 6rem;
    display: flex;
    border-radius: 10px;
}

/*Menu*/
button {
    font-size: 15px;
    width: 110px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #34495e;
    color: #000000;
}

.btn {
    transform: translate(32rem, 0rem);
}

.btn {
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
}

.btn:hover {
    background-color: #566981;
    border: 1px solid #566981;
}

/*Fim Menu*/

/*Registro*/

.box {
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 90%; /* Ajuste a largura para telas menores */
    max-width: 400px; /* Defina uma largura máxima para evitar que fique muito largo */
    margin: 0 auto; /* Centralize horizontalmente */
}

fieldset {
    border: 3px solid dodgerblue;
}

legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-color: #34495e;
    width: 90%; /* Ajuste a largura para telas menores */
    max-width: 200px; /* Defina uma largura máxima */
    margin: 20px auto; /* Centralize horizontalmente */
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color: rgb(0, 80, 172);
}

@media (max-width: 768px) {
    .nav-bar {
        padding: 1.5rem 1rem;
    }

    .logo img {
        margin-left: 0;
        transform: none;
    }

    .menu {
        padding: 1.5rem 1rem;
    }

    .btn {
        
        transform: none;
    }

    .box {
        top: 35rem;
        width: 90%;
    }

    #submit {
        width: 100%;
    }
}
